* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ce2626, #243b55);
}

.form-box {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(46, 24, 24, 0.3);
}

.type {
  display: flex;
  margin-bottom: 20px;

}

.button {
  flex: 1;
  padding: 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  font-size: 16px;
}

.button.active {
  background: #e50914;
  color: white;
}

.form {
  display: none;
}

.form.active{
  display: block;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  
}

.submit {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit:hover {
  background: #c40812;
}