* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #525e70;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    background-color: #fff;
    width: 900px;
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


.form-section {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
}

.form-section h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;
}


.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #e8e8e8;
    outline: none;
}

.input-group input:focus {
    border-color: #a2d2ff;
    background-color: #fff;
}


.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #555;
}
